/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box; }

.icontainer {
  background-image: linear-gradient(rgba(253, 253, 253, 0.856), rgba(245, 241, 241, 0.786)), url(../img/bg1.jpg);
  background-attachment: fixed;
  max-width: 1900px;
  margin: auto;
  border: 1px solid #ddd; }
  @media only screen and (max-width: 56.25em) {
    .icontainer {
      padding: 0; } }

body {
  line-height: 1.7;
  color: black; }

.heading__primary {
  font-size: 3.6rem;
  font-weight: 100;
  line-height: 1.5;
  margin: 1rem 0;
  text-transform: uppercase; }
  @media only screen and (max-width: 75em) {
    .heading__primary {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading__primary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading__primary {
      font-size: 2rem;
      line-height: 2.5; } }

.heading__secondary {
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1.1;
  margin: 1rem 0; }
  @media only screen and (max-width: 75em) {
    .heading__secondary {
      font-size: 2.3rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading__secondary {
      font-size: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading__secondary {
      font-size: 1.7rem; } }

.heading__teritary {
  font-size: 1.4rem;
  font-weight: 400; }
  @media only screen and (max-width: 75em) {
    .heading__teritary {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading__teritary {
      font-size: 1rem; } }

.title {
  font-size: 2.6rem;
  text-transform: capitalize;
  color: #5a4206;
  border-left: 0.5rem solid #5a4206;
  padding-left: 1.5rem;
  font-weight: 700;
  font-size: 3.2rem; }
  @media only screen and (max-width: 56.25em) {
    .title {
      font-size: 2.6rem;
      letter-spacing: 0.102rem; } }

.paragaph {
  font-size: 2.5rem;
  margin-bottom: 2.3rem; }
  @media only screen and (max-width: 56.25em) {
    .paragaph {
      font-size: 2rem;
      letter-spacing: 0.12rem;
      font-weight: 400; } }

.slogen {
  font-size: 2.5rem;
  font-weight: 500; }
  @media only screen and (max-width: 56.25em) {
    .slogen {
      font-size: 2.3rem;
      letter-spacing: 0.12rem; } }

.teal-text {
  color: #009688 !important; }

.link,
.link:link,
.link:visited {
  font-size: 2rem;
  color: #009688 !important;
  text-decoration: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.teal {
  background-color: rgba(26, 21, 104, 0.815);
  color: white;
  padding: 1rem; }

.underline {
  text-decoration: underline teal; }

.svg-inline--fa {
  color: rgba(26, 21, 104, 0.815); }

.show {
  display: block; }

.btn,
.btn:visited {
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.3rem; }
  .btn:hover,
  .btn:visited:hover {
    background-color: transparent;
    color: black;
    border: 1px solid gray; }

.card {
  max-width: 30rem;
  background-color: white;
  margin-bottom: 1.9rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(90, 90, 90, 0.507);
  transition: all 0.3s; }
  .card__photo {
    width: 91%;
    margin: auto;
    height: 40%;
    position: relative;
    top: -18px;
    box-shadow: 0px 5px 10px rgba(21, 21, 21, 0.4);
    border: 2px solid #f6f5f4;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s; }
    .card__photo img {
      width: 100%; }
  .card__body {
    width: 100%;
    padding: 3rem;
    padding-bottom: 1rem;
    padding-top: 0; }
    .card__body p {
      font-size: 1.8rem; }
    .card__body--header {
      display: flex;
      justify-content: space-between; }
  .card:hover .card__photo {
    box-shadow: 0 5px 10px rgba(56, 56, 56, 0.3);
    transform: translateY(0.5rem); }

.section__header {
  width: 100%;
  background-color: rgba(26, 21, 104, 0.815);
  color: #ffffff;
  padding: 1rem 3rem;
  transition: 0.3s ease-in-out; }
  .section__header h1 {
    font-weight: 100;
    text-transform: uppercase; }

.section-a__title {
  max-width: 90rem;
  margin: 3rem auto; }
  .section-a__title:first-child {
    margin-left: 2rem; }
  @media only screen and (max-width: 75em) {
    .section-a__title {
      width: 90%; } }
  @media (max-width: 900rem) {
    .section-a__title {
      width: 90%; } }

.content {
  margin: 3rem 2rem; }

.page {
  max-width: 80rem;
  margin: 10rem auto;
  box-shadow: 0 1rem 1rem rgba(53, 50, 50, 0.548);
  padding: 4rem;
  font-size: 1.4rem;
  background-color: white;
  position: relative;
  letter-spacing: 0.102rem; }
  .page__header {
    border-bottom: 0.2rem solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; }
    .page__header--logo {
      display: none; }
  .page__body {
    margin-bottom: 5rem; }
  .page__info {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.6rem; }
  .page__title {
    text-transform: uppercase;
    margin-bottom: 2rem; }
  .page__list {
    margin-bottom: 2rem;
    font-weight: 700; }
    .page__list ul {
      padding-left: 2rem;
      font-weight: 400; }
  .page__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 2rem 4rem;
    margin-top: 2rem;
    text-transform: capitalize; }

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5rem auto; }
  .projects :not(:last-child) {
    margin-right: 1rem; }

.skill {
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
  margin-bottom: 3rem; }
  .skill__header {
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    margin-bottom: 0 !important; }
  .skill__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2rem;
    margin-bottom: 0 !important; }
  .skill__logo {
    height: 50px;
    margin-bottom: 0 !important;
    height: 30px; }
    @media only screen and (max-width: 56.25em) {
      .skill__logo {
        height: 5rem;
        width: 5rem; } }
  .skill__name {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 1rem; }
  .skill__item {
    text-align: center;
    border-bottom: 1px solid #ddd; }
    @media only screen and (max-width: 56.25em) {
      .skill__item {
        margin-bottom: 3rem; } }

.block {
  display: block; }

.contact__link,
.contact__link:link,
.contact__link:visited {
  font-size: 2rem;
  color: #009688 !important; }

.iheader {
  padding: 3rem;
  position: relative;
  height: 95vh; }
  .iheader .center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65rem; }
    @media only screen and (max-width: 75em) {
      .iheader .center {
        width: 60rem; } }
    @media only screen and (max-width: 56.25em) {
      .iheader .center {
        width: 50rem; } }
    @media only screen and (max-width: 37.5em) {
      .iheader .center {
        max-width: 34rem; } }
  .iheader__img img {
    width: 10rem;
    height: 10rem; }
  .iheader__text {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin: 3rem 0; }
    .iheader__text a {
      margin-top: 3rem;
      display: inline-block; }
  .iheader--link {
    margin-bottom: -10rem;
    display: block;
    margin-top: 17rem;
    cursor: pointer; }
    .iheader--link a {
      display: block;
      text-decoration: none;
      font-size: 1.7rem;
      color: rgba(26, 21, 104, 0.815);
      letter-spacing: 0.3rem; }
    .iheader--link img {
      transition: all 0.3s; }
    @media only screen and (max-width: 37.5em) {
      .iheader--link {
        margin-bottom: 0rem;
        margin-top: 10rem; } }
  .iheader--link:hover img {
    transform: translateY(1rem); }

.inav {
  position: fixed;
  top: 0;
  width: 5rem;
  height: 100vh;
  background-color: #fff;
  line-height: inherit;
  color: inherit;
  border-right: 1px solid #ddd;
  z-index: 1;
  transition: width 0.3s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .inav {
      display: none; } }
  .inav__name {
    height: 22rem;
    text-align: center;
    padding-top: 5rem;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    background-color: #fafafa;
    opacity: 0; }
  .inav__item {
    padding-top: 3rem;
    list-style: none;
    overflow: hidden;
    opacity: 0; }
  .inav__list {
    font-size: 1.5rem;
    padding: 1.3rem 5rem;
    background: #fafafa;
    margin: 11px 0px;
    height: 5rem;
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer; }
    .inav__list:hover a {
      font-size: 1.6rem; }
    .inav__list a {
      text-decoration: none;
      margin-left: 1rem;
      color: #333;
      transition: all 0.3s; }
  .inav:hover, .inav:focus {
    width: 24rem; }
  .inav:hover ~ main .section__header {
    transition: 0.3s ease-in-out;
    padding-left: 24rem !important; }
  .inav:hover .inav__name,
  .inav:hover .inav__item {
    opacity: 1;
    transition: 0.3s ease-in-out;
    transition-delay: 0.25s; }

.nav__humberger {
  display: none;
  height: 7rem;
  width: 7rem;
  background-color: white;
  border-radius: 50%;
  top: 3%;
  right: 6%;
  box-shadow: 0 1rem 1rem rgba(6, 134, 128, 0.123);
  z-index: 20;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .nav__humberger {
      display: inline-block;
      position: fixed; } }
  .nav__humberger:hover {
    cursor: pointer; }
  .nav__humberger__line {
    margin-top: 3.5rem; }
  .nav__humberger__line, .nav__humberger__line::before, .nav__humberger__line::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    transition: all 0.4s; }
  .nav__humberger:hover .nav__humberger__line::before {
    margin: 0.5rem 0; }
  .nav__humberger__line::before, .nav__humberger__line::after {
    position: relative;
    content: "";
    left: 0; }
  .nav__humberger__line::before {
    top: -2rem; }
  .nav__humberger__line::after {
    bottom: 1.5rem; }

.main {
  margin-left: 3rem;
  transition: 0.3s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .main {
      margin-left: 0; } }

.section-a {
  width: 100%;
  font-weight: 300; }

.section-e {
  padding: 5rem 0px;
  padding-top: 7rem;
  height: 88vh; }
  .section-e div {
    padding: 0px 5rem; }
