# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
gen### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
resume/src/features/contact/store/
resume/src/features/experience/store/
resume/src/features/projects/store/
node_modules
