.iheader {
	padding: 3rem;
	position: relative;
	height: 95vh;
	.center {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 65rem;
		@include respond("tab-land") {
			width: 61rem;
		}
		@include respond("tab-port") {
			width: 50rem;
		}
		@include respond("phone") {
			max-width: 34rem;
		}
	}
	&__img {
		img {
			width: 10rem;
			height: 10rem;
		}
	}

	&__text {
		text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
		margin: 3rem 0;
		a {
			margin-top: 3rem;
			display: inline-block;
		}
	}
	&--link {
		margin-bottom: -10rem;
		display: block;
		margin-top: 17rem;
		cursor: pointer;
		a {
			display: block;
			text-decoration: none;
			font-size: 1.7rem;
			color: $color-primary;
			letter-spacing: 0.3rem;
		}
		img {
			transition: all 0.3s;
			// transform: translate(0);
		}
		@include respond("phone") {
			margin-bottom: 0;
			margin-top: 10rem;
		}
	}
	&--link:hover img {
		transform: translateY(1rem);
	}
}
