.card {
	max-width: 30rem;
	background-color: white;
	margin-bottom: 1.9rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	transition: all 0.3s;
	&__photo {
		width: 91%;
		margin: auto;
		height: 40%;
		position: relative;
		top: -18px;
		box-shadow: 0px 5px 10px rgba(#636363, 0.2);
		border: 1px solid;
		border-radius: 10px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	&__body {
		width: 100%;
		padding: 3rem;
		padding-bottom: 1rem;
		padding-top: 0;
		p {
			font-size: 1.8rem;
		}
		&--header {
			display: flex;
			justify-content: space-between;
		}
	}
	&:hover {
		box-shadow: 0 1rem 1rem rgba(56, 56, 56, 0.4);
		transform: translateY(0.5rem);
	}
}
