.main{
    margin-left: 24rem;
    @include respond('tab-port'){
        margin-left: 0;
    }
}
.section-a{
    width: 100%;
    font-weight: 300;
}
.section-d{
    
}
.section-e{
    padding: 5rem;
    padding-top: 7rem;
    height: 88vh;
}