.main {
	margin-left: 3rem;
	@include respond("tab-port") {
		margin-left: 0;
	}
}
.section-a {
	width: 100%;
	font-weight: 300;
}

.section-e {
	padding: 5rem 0rem;
	padding-top: 7rem;
	height: 88vh;
}
