.card {
	max-width: 35rem;
	min-height: 40rem;
	background-color: white;
	margin-bottom: 6rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(90, 90, 90, 0.507);
	transition: all 0.3s;
	&__photo {
		width: 91%;
		margin: auto;
		height: 40%;
		position: relative;
		top: -18px;
		box-shadow: 0 5px 10px rgba(21, 21, 21, 0.4);
		border: 2px solid #f6f5f4;
		border-radius: 10px;
		overflow: hidden;
		transition: all 0.3s;

		img {
			width: 100%;
		}
	}
	&__body {
		width: 100%;
		padding: 3rem;
		padding-bottom: 1rem;
		padding-top: 0;
		p {
			font-size: 1.8rem;
		}
		&--header {
			display: flex;
			justify-content: space-between;
		}
	}
	&__list{
		list-style: none;
		font-weight: bold;
	}
	&:hover &__photo {
		box-shadow: 0 5px 10px rgba(56, 56, 56, 0.3);
		transform: translateY(0.5rem);
	}
}
