.section__header {
	width: 100%;
	background-color: $color-primary;
	color: #ffffff;
	padding: 1rem 3rem;
	transition: 0.3s ease-in-out;
	h1 {
		// font-size: 5rem;
		font-weight: 100;
		text-transform: uppercase;
	}
}
.section-a {
	&__title {
		max-width: 90rem;
		margin: 3rem auto;
		&:first-child {
			margin-left: 2rem;
		}
		@include respond("tab-land") {
			width: 90%;
		}
		@media (max-width: 900rem) {
			width: 90%;
		}
	}
}
.content {
	margin: 3rem 2rem;
}
.page {
	max-width: 80rem;
	margin: 10rem auto;
	box-shadow: 0 1rem 1rem rgba(53, 50, 50, 0.548);
	padding: 4rem;
	font-size: 1.4rem;
	background-color: white;
	position: relative;
	letter-spacing: 0.102rem;
	&__header {
		border-bottom: 0.2rem solid black;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		&--name {
			// padding-left: 4rem;
		}
		&--logo {
			display: none;
		}
	}
	&__body {
		margin-bottom: 5rem;
		p {
			font-size: 1.3rem;
		}
	}
	&__info {
		margin-bottom: 2rem;
		font-weight: 700;
		font-size: 1.6rem;
	}
	&__title {
		text-transform: uppercase;
		margin-bottom: 2rem;
	}
	&__list {
		margin-bottom: 2rem;
		font-weight: 500;
		ul {
			padding-left: 2rem;
			font-weight: 400;
		}
	}
	&__footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.02);
		padding: 2rem 4rem;
		margin-top: 2rem;
		text-transform: capitalize;
	}
}
.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5rem auto;
	:not(:last-child) {
		margin-right: 1rem;
	}
}
.skill {
	margin: 0 auto;
	background-color: white;
	padding: 2rem;
	margin-bottom: 3rem;

	&__header {
		width: 100%;
		border-bottom: 1px solid #ddd;
		text-transform: uppercase;
		margin-bottom: 0 !important;
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding-top: 2rem;
		margin-bottom: 0 !important;
	}
	&__logo {
		// padding-bottom: 2rem;
		margin-bottom: 0 !important;
		height: 30px;
		@include respond("tab-port") {
			height: 5rem;
			width: 5rem;
		}
	}
	&__name {
		font-size: 1.2rem;
		margin: 0;
		margin-top: 1rem;
	}
	&__item {
		text-align: center;
		border-bottom: $border-color-gray-light;

		@include respond("tab-port") {
			margin-bottom: 3rem;
		}
	}
}
.block {
	display: block;
}
.contact__link,
.contact__link:link,
.contact__link:visited {
	font-size: 2rem;
	color: #009688 !important;
}
